<!-- Social Buttons Start -->
<a href="https://vectorified.com/naver-blog-icon" title="Naver Blog Icon"><img src="https://vectorified.com/images/naver-blog-icon-11.png" width="350" /></a>

<ul class="list-inline social-buttons">
    {% for network in site.social %}
    
        {%if network.title=='Naver'%}
        <li><a href="{{ network.url }}" target="_blank"><i class="ri-store-2-fill"></i></a></li>
        {%else%}
        <li><a href="{{ network.url }}" target="_blank"><i class="Naver Blog Icon"></i></a></li>
        {% endif %}
    {% endfor %}
    {% if site.keybase-in-social %}
    <li><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i class="fa fa-key fa-fw"></i></a></li>
    {% endif %}
</ul>

<!-- Social Buttons End -->
